PORT=9000  #The port number on which the server will run
MONGOOSE_URL = mongodb://localhost:27017/mydatabase  #The MongoDB connection URI
JWT_SECRET = your_jwt_secret_key  #The secret key used for signing JWT tokens
EMAIL = # EMAIL address for sending emails
PASSWORD = # PASSWORD for the email account
RESEND_API_KEY = # API key for the Resend service for sending emails, portal link is https://resend.com/