PORT=9000  #The port number on which the server will run
MONGOOSE_URL = mongodb://localhost:27017/mydatabase  #The MongoDB connection URI
JWT_SECRET =  #The secret key used for signing JWT tokens
EMAIL = # EMAIL address for sending emails
PASSWORD = # PASSWORD for the email account
RESEND_API_KEY = # API key for the Resend service for sending emails, portal link is https://resend.com/
AWS_ACCESS_KEY_ID= # AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY= # AWS_SECRET_ACCESS_KEY
AWS_REGION = # AWS_REGION
AWS_S3_BUCKET_NAME =  # AWS_S3_BUCKET_NAME
VAPID_PUBLIC_KEY= #your_public_key
VAPID_PRIVATE_KEY= #your_private_key
VAPID_SUBJECT= #mailto:admin@example.com